    </main>
    <footer class="w-100 bg-light p-5">
      By Simon Fish, Daniel Ryder and Matthew Swinbank for COM3504 The
      Intelligent Web
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script language="javascript" src="jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>

    <script>
        var socket = io.connect();

        console.log("This is in the footer");
    </script>

    <script language="javascript" src="js/bootstrap.min.js"></script>
    <script language="javascript" src="javascripts/likeButton.js"></script>
  </body>
</html>