<div class="fivestars-group" class="d-flex align-items-center">
  ★').forEach((star, index) => { %>
    <span class="fiv<% Array(5).fill('estars <%= index < rating ? `text-${rating}-star` : '' %>" data-story-id="<%= storyId %>" data-value="<%= index + 1 %>">
      <%= star %>
    </span>
  <% }) %>
</div>