<form class="card card-body mb-3" onsubmit="return sendText();" action="/stories" method="POST" id="newStory">
  <div class="form-group">
    <label for="text">Write your story here.</label>
    <textarea class="form-control" id="text" name="text"></textarea>
    <label for="text" id="user">User ID (will be retrieved from token in final app)</label>
    <input name="user" id="userNumber" />
  </div>
  <!--
  FIXME: Include when photos are added to the schema
  <div class="custom-file mb-3">
    <input type="file" class="custom-file-input" id="photos" multiple="multiple">
    <label class="custom-file-label" for="photos">Choose photos</label>
  </div>
  -->
  <button type="submit" class="btn btn-primary">Submit</button>
</form>