<%- include("layouts/head") %>
<%- include("components/newStory") %>
<% stories.forEach(story => { %>
  <%- include("components/story",{
    user: story.user,
    story: story
  }) %>
  <% }) %>
<form action="" onsubmit="return sendText();">
  <input id="text" autocomplete="off"/>
  <button>Send</button>
</form>
<%- include("layouts/foot") %>
