<a href="/user/<%= encodeURIComponent(id) %>/stories" class="user-profile">
  <img class="user-avatar mr-1" src="https://eu.ui-avatars.com/api/?name=<%= encodeURIComponent(username) %>" />
  <div>
    <span class="d-block"><%= nickname %></span>
    <small class="d-block text-muted">@<%= username %></small>
  </div>
</a>