body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.user-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-avatar {
  height: 32px;
  width: auto;
  transition: 0.2s height ease-out;
  border-radius: 50%;
}

.user-profile:hover {
  text-decoration: none;
}
.user-profile:hover .user-avatar {
  height: 40px;
}

.progress {
  height: 2rem;
  font-size: 1rem;
  letter-spacing: -2px;
}